[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://test.pypi.org/pypi/"
verify_ssl = true
name = "test"

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"
setuptools = "*"
twine = "*"
requests-mock = "*"
pipenv-setup = "*"
pexpect = "*"

[packages]
requests = "*"
twine = "*"
rich = "*"
python-datauri = "*"
click = "*"
boto3 = "*"
scikit-image = "*"

[requires]
python_version = "3.7"
