# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: dschep/install-pipenv-action@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install chardet dependency
      run: |
        pip3 install 'chardet<4,>=3.0.2' 'colorama==0.4.3' 'attr'
    - name: Install dependencies
      run: |
        pipenv install --dev --system
    - name: Check if Pipfile and setup.py is sane
      run: |
        pipenv-setup check
    - name: Install
      run: |
        python setup.py install
    # - name: Version Check
    #   run: |
    #     python -m spb --version
